body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
#reader {
  max-width: 100vw;
  max-height: 100vh;
}
#reader * {
  max-width: 100vw;
  max-height: 100vh;
}
#reader video {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
}
#reader #qr-canvas {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
}
#reader #qr-shaded-region {
  /* aspect-ratio: 1 / 1; */
  border-width: 17.5vw !important;
  border-top-width: 24vh !important;
  border-bottom-width: 40vh !important;
  height: 100vh;
  object-fit: cover;
}
